img#meetup-logo {
    height: 1em
}

a {
    color: #20655F;
    cursor: pointer;
    text-decoration: none
}

abbr {
    text-decoration: none!important
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: .75em 1.5em;
    border: 3px solid;
    text-transform: uppercase;
    font-weight: 700;
    margin: .5em
}

.btn:focus,.btn:hover {
    background: #20655F;
    color: #ffa90d;
    border-color: #20655F
}

h1, h2 {
    color: #FFF8B6;
    font-family: 'Oswald', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
}

h1 {
    font-size: 2.5em;
}

body {
    font-family: 'PT Mono', 'Courier New', Courier, monospace;
    color: #FFF8B6;
    background: url(../img/geometry.svg) center center #F8AA27;
    height: 100vh
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh
}

span.date {
    margin-right: .5em;
    padding-right: .75em;
    border-right: 2px solid #FAC55B
}

header {
    text-align: center
}

.modal {
    display: flex;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF8B6;
    align-items: center;
    justify-content: center;
    transition: .1s all linear;
}

.modal.open {
    opacity: 1;
    pointer-events: all
}

.modal__body {
    padding: 1.5rem;
    margin: 1.5rem;
    background: #20655F;
    max-width: 100%;
    width: 500px;
    text-align: left;
    position: relative;
}

.modal__exit {
    display: block;
    font-size: 3em;
    line-height: 1em;
    width: 1em;
    text-align: center;
    background: #0C504A;
    color: #8FCEC9;
    position: absolute;
    top: 0;
    right: 0;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0
}

ul.footer-links {
    text-align: right;
    padding: 1em;
    margin: 0;
    font-size: .8em
}

ul.footer-links>li {
    display: inline-block;
    border-right: 1px solid #FAC55B;
    padding-right: .5em;
    margin-right: .5em;
    line-height: 1em;
}

ul.footer-links>li:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0
}

div#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-width: 767px) {
    main {
        padding:0 15px
    }

    section {
        width: 100%
    }

    .btn {
        display: block;
        margin: 0 0 1em 0;
        text-align: center
    }

    ul.footer-links {
        font-size: 1em;
        text-align: center
    }
}
